body {
    background-color: rgb(41, 41, 45); 
    font-family: Helvetica, sans-serif;
    background-image: url(../images/Sober.png);
    background-size: cover;
    background-repeat: no-repeat;


}

.header {
    padding: 10px 16px;
    background: transparent;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 1000;
}

.sticky + .content {
    padding-top: 102px;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    background-color: #333; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header a:hover {
    background-color: #555;
}

.header .right-link {
    margin-left: auto;
}

.timeline { 
    position: relative;
    max-width: 1000px;
    margin: 100px auto;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 40%;
    opacity: 100%;
}

.text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 15px;
    font-size: 20px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.timeline::after{
    content:'';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: orangered;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}


